{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}
{% block body %}
	<div class="container" style="margin-top: 80px;">
		<h1>List Match</h1>


		<a href="match/2143214">
			<button type="button" class="btn btn-light m-1"> Test <br> Test </button>
		</a> 

	</div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
{% endblock %}
